<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>welcome employers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Welcome to Qerja, Employers :) please register or login</h1>
    <br>
    <form method="POST" action="/employers">
        <h3>Email</h3>
        <input type="text" name="email" placeholder="email">
        <h3>Password</h3>
        <input type="text" name="password" placeholder="password"> <br> <br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="/Employers/register">Register</a>
</body>
</html>