<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register Employers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>REGISTER EMPLOYERS</h1>
    <br>
    <form method="POST" action="/employers/register">
        <h4>Name</h4>
        <input type="text" name="name" placeholder="name">
        <h4>Email</h4>
        <input type="text" name="email" placeholder="email">
        <h4>Password</h4>
        <input type="text" name="password" placeholder="password">
        <br>
        <button type="submit">Register</button>
    </form>
</body>
</html>